<%= error_messages_for 'query' %>

<div class="box">
  <div class="tabular">
    <%= hidden_field_tag 'gantt', '1' if params[:gantt] %>

    <p><label for="query_name"><%=l(:field_name)%></label>
    <%= text_field 'query', 'name', :size => 80 %></p>

    <% if User.current.admin? || User.current.allowed_to?(:manage_public_favorite_project_queries, nil, :global => true) %>
      <p><label><%=l(:field_visible)%></label>
        <label class="block"><%= radio_button 'query', 'visibility', FavoriteProjectsQuery::VISIBILITY_PRIVATE %> <%= l(:label_visibility_private) %></label>
        <label class="block"><%= radio_button 'query', 'visibility', FavoriteProjectsQuery::VISIBILITY_PUBLIC %> <%= l(:label_visibility_public) %></label>
      </p>
    <% end %>


    <fieldset><legend><%= l(:label_options) %></legend>
    <p><label for="query_default_columns"><%=l(:label_default_columns)%></label>
    <%= check_box_tag 'default_columns', 1, @query.has_default_columns?, :id => 'query_default_columns',
          :onclick => 'if (this.checked) {$("#columns").hide();} else {$("#columns").show();}' %></p>
    </fieldset>
  </div>

  <fieldset id="filters"><legend><%= l(:label_filter_plural) %></legend>
  <%= render :partial => 'queries/filters', :locals => {:query => query}%>
  </fieldset>

  <%= content_tag 'fieldset', :id => 'columns', :style => (query.has_default_columns? ? 'display:none;' : nil) do %>
  <legend><%= l(:field_column_names) %></legend>
  <%= render_query_columns_selection(query) %>
  <% end %>

  </div>

<%= javascript_tag do %>
$(document).ready(function(){
  $("input[name='query[visibility]']").change(function(){
    var checked = $('#query_visibility_1').is(':checked');
    $("input[name='query[role_ids][]'][type=checkbox]").attr('disabled', !checked);
  }).trigger('change');
});
<% end %>
