<% if @projects.empty? %>
    <p class="nodata"><%= l(:label_no_data) %></p>
<% else %>
<div class="autoscroll">
  <table class="list">
    <thead><tr>
    <th></th>
    <% @query.columns.each do |column| %>
      <%= content_tag('th', h(column.caption)) %>
    <% end %>
    </tr></thead>
    <tbody>
      <% project_tree(@projects) do |project, level| %>
        <tr class="<%= cycle("odd", "even") %> <%= project.css_classes %> <%= level > 0 ? "idnt idnt-#{level}" : nil %>">
            <td><%= favorite_tag(project, User.current) %></td>
              <% @query.columns.each do |column| %><%= content_tag 'td', column_content(column, project), :class => column.css_classes %><% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% end %>
